<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JM2007</display-name>
  <welcome-file-list>
   <!--  <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file> -->
    <welcome-file>index.jsp</welcome-file>
   <!--  <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file> -->
  </welcome-file-list>
  <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>com.jm2007.learn.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>institute</param-name>
    <param-value>InfoCampus</param-value>
  </context-param>
  <context-param>
    <param-name>isDbCreationNeeded</param-name>
    <param-value>Yes</param-value>
  </context-param>
 <!--  <filter>
    <filter-name>f2</filter-name>
    <filter-class>com.jm2007.learn.filter.LoginFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f2</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>f1</filter-name>
    <filter-class>com.jm2007.learn.filter.LoginFilter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/login</url-pattern>
  </filter-mapping> -->
</web-app>